:root {
  /*Primary*/
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Bright-blue-opacity: hsl(245, 86%, 67%);

 /*Neutral*/
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: 'Red Hat Display', sans-serif;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1.6rem;
}

.section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  width: 100%;
  background-color: var(--Pale-blue);
}

.card {
  margin: 0 auto;
  width: 45rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:white;
  overflow: hidden;
  border-radius: 3%;
}

.main-text-content {
  width: 100%;
  text-align: center;
  padding: 4rem 5rem 2.5rem;
}

.main-text-content h1 {
  color: var(--Dark-blue);
}

.main-text-content p {
  padding-top: 1.5rem;
  color: var(--Desaturated-blue);
}

.price {
  background-color: var(--Very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 8rem;
  border-radius: 10px;
  padding: 0 2rem;
}

.plan {
  display: flex;
  gap: 2rem;
}

.main-price {
  line-height: 1.5;
}

.main-price p {
  color: var(--Desaturated-blue);
}

.main-price h4 {
  font-weight: 900;
}

.button {
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.button-change {
  text-decoration: underline;
  color: var(--Bright-blue);
}

.button-change:hover {
  color: var(--Bright-blue-opacity);
  cursor: pointer;
}

.button-proceed {
  margin-top: 2rem ;
  width: 80%;
  background-color: var(--Bright-blue);
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(26, 17, 120, 0.26);
  margin-bottom: 2rem;
}

.button-proceed:hover {
  background-color: var(--Bright-blue-opacity);
  cursor: pointer;
}

.button-cancel {
  margin-top: 2rem ;
  background-color: white;
  color: var(--Desaturated-blue);
  border-radius: 10px;
  margin-bottom: 3rem;
}

.button-cancel:hover {
  color: black;
  cursor: pointer
}

